* {
    box-sizing: border-box;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/gravel.png");
    font-size: 18px;
    color: #777777;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: 700;
}

h1 {
    border-bottom: 3px solid #dddddd;
    padding-bottom: 30px;
    font-size: 30px;
}

h1,
h2 {
    font-size: 22px;
}

header {
    background: #ffffff;
    border-bottom: solid;
    border-color: #cccccc;
    position: fixed;
    width: 100%;
    margin: 0 0 50px;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #ffffff;
    padding-top: 20px;
}

#name {
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    padding: 25px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: 700;
    height: 70px;
}

nav {
    float:right;
    margin-top: 25px;
}

nav a {
    color: #777777;
    display: inline-block;
    text-decoration: none;
    border-left: solid;
    border-color: #dddddd;
    padding-left: 15px;
    line-height: 18px;
    margin-left: 15px;
}

nav a:first-child {
    border-left: 0 none;
}

.auth-image {
    width: 250px;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #666666;
    border-top: 9px solid #4aaaa5;
    clear: both;
    width: 100%;
    color: #cccccc;
    height: 50px;
    font-size: 12px;
}

#main-wrapper {
    padding: 130px 20px 0px 20px ;
    min-height: calc(100vh - 70px);
    line-height: 25px;
}

.work {
    position: relative;
    width: 275px;
    float: left;
    margin: 20px 0 25px;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work h3 {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    line-height: 30px;
    font-weight: 300;
    padding: 10px;
}

.work img {
    width: 100%;
}

label,
input[type=text],
input[type=email],
textarea {
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

textarea {
    height: 200px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }